.card {
    border-radius: 8px;
  }
  
  .card-body {
    color: #333;
  }
  
  .btn-link {
    color: #0056b3;
    box-shadow: none;
  }
  
  .btn-link:hover {
    color: #004494;
  }
  
  .fab {
    margin-right: 8px;
  }

  /* .student-card .card-header.header-bg-color {
    background-color: #F6995C;
  } */
  